
.container-fluid{
    padding: 50px;
}

#container{
    padding: 20px;
    background-color: coral;
}

h1{
    padding-bottom: 20px;

}

.head-game{
    background-color: chartreuse;
    text-align: center;
}

.alinha-word{
    padding-bottom: 10px;
}

.alinha-table{
    padding-left: 10px;
    float: left;
    font-size: 50px;
 }
 

.alinha-bt{
    margin-top: 100px;
    padding: 10px;
    background-color: cornsilk;
}




.alinha-input{
    width: 50px;
}

