
{% extends "layout.html" %}
{% block content %}


<div id="container">
    <div class="col-8 col-md-5">
        <div class="head-game">
            <h1>Jogo da Forca</h1>
            <h3>Escolha a Palavra</h3>
            <br>

        <form action = "/result_game" method = "POST"> 
            <label>Digite a Palavra Secreta: </label>
            <input type="text" name="word"/>
            <label>Digite a Dica: </label>
            <input type="text" name="dip" />
            <input type="submit" name="type-game" value="OK" class="btn btn-secondary"/>
        </form>
    </div>
</div>



{% endblock content %}