
{% extends "layout.html" %}
{% block content %}

<div id="container">
    <h1>Bem vindo ao Jogo da Forca</h1>
    <h2>Escolha como quer jogar</h2>
    <div class="col-12 col-md-9">
        <form action = "/game_choise" method = "POST"> 
            <select name="select" id="select" name="type-game" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Jogar Contra o Computador</option>
                <option value="2">Jogar Contra Um Adversário</option>
            </select>
            <!-- <a href="/game_choise"><button type="submit" class="btn btn-primary btn-sm">Ok</button></a> -->
            <input type="submit" name="type-game" value="OK"/>
        </form>
    </div>
</div>



{% endblock content %}